* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #33E1ED;
    margin-top: -26px;
}

/* Side left */

.left-container {
    background: linear-gradient(125deg,#33E1ED, #2D2D44, #1E1E2C); 
    margin-bottom: -56px;
}

/* Logo */
.div-logo{
    padding-top: 45px;
}


.div-logo .link-logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
}

.title-logo{
    font-size: 3.5em;
}

.img-logo {
    width: 5vw;
    max-width: 10%;
    height: auto;
    margin-left: 20px;    
}

/* Style the buttons that are used to open the tab content */
.tab{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.tab button {
    display: block;
    background-color: inherit;
    color: #ffffff;
    padding: 30px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
    font-size: 3em;
}

.selector {
        margin-right: 4vw;
        margin-left: auto;
    }

    .tab button i {
        margin-right: 4vw;
        margin-top: 20px;
    }

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(221, 221, 221, 0.03);
    border-radius: 40%;
}

/* Create a active "tab button" class */
.tab button:active {
    background-color: transparent;
    border-radius: 50%;
}

/* Create a Triangle tab  */
.tablinks.active .triangle-left::before {
    display: block;
}
.tablinks.active .triangle-right::before {
    display: block;
}


.triangle-left::before {
    display: none;
    content: '';
    border-bottom: 55px solid transparent;
    border-right: 55px solid #33E1ED;
    border-top: 55px solid transparent;
    bottom: 25px;
    height: 0;
    position: relative;
    right: -15px;
    width: 0;
} 

.triangle-right::before{
    display: none;
    content: '';
    border-bottom: 55px solid transparent;
    border-right: 55px solid #33E1ED;
    border-top: 55px solid transparent;
    bottom: 25px;
    height: 0;
    position: relative;
    right: -15px;
    width: 0;
}

.tab .tablinks{
    display: flex;
    justify-content: flex-end;
}

.tab button i{
    margin-right: 4vw;
}






/* Social Media & CR */
.social-media{
    color: #ffffff;
    font-size: small;
    margin-bottom: 10px;
}

 .icon-media a{    
    text-decoration: none;
    font-size: 2em;
    color: #ffffff;
    margin: 5px;
}

/* Boton ir empresa */

.ir-empresa {
    display: inline-block;
    padding: 16px;
    background-color: #2D2D44;
    color: #ffffff;
    font-size: 23px;
    max-width: 71px;
    border-radius: 33% 5%;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 50px
}






/* Side right */
.form-container {
    background-color: #33E1ED;
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.subtitle-form {
    font-size: 2.3em;
}

.title-form {
    font-size: 3em;
}

.form-box h4 {
    font-weight: lighter;
    color: #1E1E2C;
    font-size: 1.4em;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    padding-left: 45px;
}

.form-box .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #1E1E2C;
}

.form-box .form-input input::placeholder {
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid {
    border-bottom: 2px solid #1E1E2C;
}

.form-box input[type="checkbox"]:not(:checked)+label:before {
    background: transparent;
    border: 2px solid #1E1E2C;
    width: 15px;
    height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #1E1E2C;
    border: 0px;
}

.form-box button[type="submit"] {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #2D2D44;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

/* This is shadow login */
.form-box button[type="submit"]:hover {
    -webkit-box-shadow: 0px 13px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 17px -4px rgba(0, 0, 0, 0.75);
}

/* This is color of "olvide la contraseña" */
.forget-link,
.register-link {
    color: #ffffff;
    font-weight: bold;
}

.forget-link:hover,
.register-link:hover {
    color: #2D2D44;
}

.text-signup {
    color: #2D2D44;
    font-weight: lighter;
    font-size: 1.3em;
}

/* Button go to persona-empresa */

.ir-empresa, .ir-persona {
    display: inline-block;
    padding: 20px;
    background-color: #2D2D44;
    color: #ffffff;
    font-size: 23px;
    max-width: 71px;
    border-radius: 33% 5%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 15px
}

@media screen and (max-width: 538px) {
    .ir-empresa  {
        display: inline-block;
        padding: 13px;
        background-color: #2D2D44;
        color: #ffffff;
        font-size: 20px;
        max-width: 70px;
        border-radius: 33% 5%;
        cursor: pointer;
        position: absolute;
        bottom: -29px;
        right: 36vw
    }

    .ir-persona{
        display: inline-block;
        padding: 13px;
        background-color: #2D2D44;
        color: #ffffff;
        font-size: 20px;
        max-width: 70px;
        border-radius: 33% 5%;
        cursor: pointer;
        position: absolute;
        bottom: -76px;
        right: 42vw
    }
  }

  @media screen and (max-width: 321px) {
    .form-box button[type="submit"] {
    width: 130px;
    height: 40px;
    }
  }

  @media screen and (max-width: 888px) {
  .img-logo {
    display:none;
  }
}