*{
    font-family: 'Source Sans Pro', sans-serif;
}
.main{
    background-color: #2d2d44;
}
.btn-bank a{
    text-decoration: none !important;
    color: #ffffff !important;
}
.iconos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
@media (min-width: 768px) {
    .btn-bank{
        width: auto;
    }
}
/*contact form*/
.maintitle{
    font-size: 2.5em;
   color: #2d2d44;
   padding: 1.2rem;
}
.contact{
    background-color: #33e1ed;    
}
.btn-sub{
    background-color: #1e1e2c !important;
    color:#ffffff !important ;
    font-size: 20px;
}
.btn-sub:hover{
    color: white;
    box-shadow: 0px 13px 10px -4px rgba(0, 0, 0, 0.507);

}
.borderbox:hover{
    box-shadow: 0px 13px 10px -4px rgba(0, 0, 0, 0.507);
}
.centrar div{
    justify-content: center;
}
.centrar{
    width: 80%;
}

.btn-bank{
    background-color: #33e1ed !important;
    font-size: 2em !important;
    padding-left: 10px !important; 
    padding-right: 10px !important;

}
