/* Full-width input fields */
.containermodal input[type=text], .containermodal input[type=password], .containermodal input[type=email], .containermodal input[type=date], select  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: rgba(204, 204, 207, 0.473);
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
  }
  
  .tipo-documento{
    width: 100%;
  padding: 0 !important;
    margin: 5px 0 22px 0;    
    border: none;
      cursor: pointer;
      transition: 0.5s;
  
  }
  
  label {
      display: block;
      font: 1rem 'Fira Sans', sans-serif;
  }
  
  
  
  /* Add a background color when the inputs get focus */
  .containermodal input[type=text]:focus, .containermodal input[type=password]:focus, .containermodal input[type=email]:focus, .tipo-documento:focus, input[type=date]:focus {
    background-color: rgba(51, 224, 237, 0.185);
    outline: none;
    border-bottom: 2px solid #1E1E2C;
  }
  
  
  /* Set a style for all buttons */
  .cancelbtn, .signupbtn {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    transition: 0.2s;  
      background-color: #2D2D44;
       color: #ffffff;
      font-weight: bold;
  }
    
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #2D2D44;
    border-radius: 5%;
  }
  
  .cancelbtn:hover {
    opacity:0.8;
    background-color: rgb(255, 0, 0);
  }
  
  .signupbtn {
   border-radius: 5%;
    padding: 14px 20px;
    background-color: #2D2D44;
  }
  
  .signupbtn:hover{
   opacity:0.8;
    background-color: #4CAF50;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  
  /* Add padding to container elements */
  .containermodal {
    padding: 30px;
    border: 1px solid #1E1E2C
  }
  
  /* The Modal (background) */
  .modal {    
   z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    overflow: scroll;  /* Enable scroll if needed */
    background-color: transparent;
    padding-top: 50px;
  }
  
  /* Modal Content/Box  no necesario*/
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;

    }
  
    .fecha {
    background: rgba(204, 204, 207, 0.473);
    margin-bottom: 18px;
    margin-right: 7px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

      /* checked boton*/
  .modal input[type="checkbox"]:not(:checked)+label:before {
      background: transparent;
      border: 2px solid #1E1E2C;
      width: 15px;
      height: 15px;
  }
  
  .modal .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #1E1E2C;
      border: 0px;
  }
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  } 

  @media screen and (max-width: 479px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }

    .fechanac{
      font-size: 0.6em;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .boxtipo{
      font-size: 0.8em;
      padding-left: 5px;
    }

  }