*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.logo a{
    text-decoration: none;
    
}

.imagen{
    width: 100px;
    height: 100px;
    position: relative;
    transition-duration: 3s;
    animation: img 5s infinite;
}

@keyframes img{
    from {
        transform: rotateY(0deg);
    }
    to {
       transform: rotateY(360deg);
    }
}

.backgroundnav{
   background: #1e1e2c;
}

.h1color{
    color: white;
}

.h6color{
    color: white;
    text-align: center;
}

.listageneral a{
    color: white !important;
    text-decoration: none;
    font-size: 21px;

}

.listageneral ul li{
    list-style-type:none;
    margin-left: 2vw;
}

.icono{
    background: white;
}

.drop-menus a{
    color: black !important;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropDownBtn{
    color: white;
}

.dropDownBtn:hover{
    color: white;
    background-color: #1e1e2c;
}

.dropDown-Content{
    display: none;
    position: absolute;
    z-index: 1000;
    
}


.dropdown:hover .dropDown-Content {
    display: block;}

.divPersonas{
     background-image: url("../../assets/imagenes/familia2.png");
     background-attachment: fixed;
     width: 100%;
     height: 85vh;   
}

.divTarjetaDeCredito{
    background-image: url("../../assets/imagenes/Tarjeta2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;   

}

.divCuentasSanas{
    background-image: url("../../assets/imagenes/cuentassanas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
     height: 85vh;   

}

#columna1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
     height: 100vh;  
    background-image: url("../../assets/imagenes/imagenIzq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#infocolumna1m{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s;
    opacity: 0;
}

#columna1m:hover #infocolumna1m{
    opacity: 1;
}

#infoTop{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 160px;
    position: absolute;
    color: black;

}

#infoDown{
    margin: auto;
    width: 100%;
    margin-top: 130px;
    position: absolute;
    color: black; 
    text-align: center;

}

#columna1m:hover #infoDown{
    padding-top: 130px;
}


#columna2{
    padding: 0;
    margin: 0;
    width: 100%;
     height: 100vh;  
    background-image: url("../../assets/imagenes/sueldomedio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#infocolumna2m{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s;
    opacity: 0;
}

#columna2m:hover #infocolumna2m{
    opacity: 1;
}

#infoTop2{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 160px;
    position: absolute;
    color: black;

}

#infoDown2{
    margin: auto;
    width: 100%;
    margin-top: 130px;
    position: absolute;
    color: black; 
    text-align: center;

}

#columna2m:hover #infoDown2{
    padding-top: 130px;
}


#columna3{
    padding: 0;
    margin: 0;
    width: 100%;
     height: 100vh; 
    background-image: url("../../assets/imagenes/beneficiosderecha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#infocolumna3m{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s;
    opacity: 0;
}

#columna3m:hover #infocolumna3m{
    opacity: 1;
}

#infoTop3{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 160px;
    position: absolute;
    color: black;

}

#infoDown3{
    margin: auto;
    width: 100%;
    margin-top: 130px;
    position: absolute;
    color: black; 
    text-align: center;

}

#columna3m:hover #infoDown3{
    padding-top: 130px;
}

.divCarouselFinal{
    width: 100vw;
    height: 85vh; 
}

.subnavbartarjetas ul li a{
    color: black;
}

.columasUsuario a{
text-decoration: none;
color: white;
}

.divcuentas{
    width: 100%;
    height: 100vh;
}

.divcuentas2{
    background-color: #1e1e2c;
    height: 100vh;
}

.divcuentas2 a{
    color: white;
}

.divrow{
    margin: 0;
    padding: 0;
}


.botonformulario{
    width: 200px;
}

.recibodetarjeta{
    height: 100vh;
}

/*  */

.divcuentas2{
    width: 100%;
    height: 100vh;
}

.divcuentas3{
    background-color: #1e1e2c;
    height: 100vh;
}

.divcuentas3 a{
    color: white;
}

.divrow2{
    margin: 0;
    padding: 0;
}

.formulariodesueldo2{
    width: 700px;
}

.botonformulario2{
    width: 200px;
}

.recibodetarjeta2{
    height: 100vh;
}

.imagencuentassanas{
    width: 47%;
    margin: 30px 100px 20px;
}

